/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "sans-serif";
    color: white;
    text-decoration: none;
}

/* Blocchi */
#wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

/* Upper-menu */
#upper-menu{
    position: fixed;
    top: 2%;
    right: 1%;
    z-index: 100;
}

.menu-button{
    background-color: rgb(67, 67, 67);
    padding: 3px;
    margin-left: 2px;
}

/* Users */
#users{
    overflow-y: auto;
    width: 100%;
    height: 90%;
    padding: 80px 40px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* Singolo utente */
.single-user{
    position: relative;
    margin: 5px;
    width: 13.5%;
}

.single-user img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info{
    position: absolute;
    bottom: 2%;
    left: 0;
    background-color: gray;
}

/* Impostazioni barra menu */
#main-nav{
    background-color: gray;
    width: 100%;
    height: 10%;
    padding-left:20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

#main-nav ul{ 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Upper selector */
.fa-microphone::after{
    border-style: solid;
    border-width: 0 0 0.15em 0.15em;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    top: 0.15em;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
    margin: 30px 20px 0;
    font-size: 20px;
}

.fa-video::after{
    border-style: solid;
    border-width: 0 0 0.15em 0.15em;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    top: 0.15em;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
    margin: 30px 20px 0;
    font-size: 20px;
}

.fa-share-from-square::after{
    border-style: solid;
    border-width: 0 0 0.15em 0.15em;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    top: 0.15em;
    vertical-align: top;
    width: 0.45em;
    transform: rotate(135deg);
    margin: 30px 20px 0;
    font-size: 20px;
    color: white;
}

/* Green share button */
.fa-share-from-square{
    color: rgb(0, 255, 0);
}

ul div{
    text-align: left;
}

#main-nav a{
    font-size: 40px;
    margin-bottom: 10px;
}

#end-meeting{
    color: red;
    font-weight: bold;
    background-color: lightgray;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}